Name: Silence
Version: 1.0
Description: Lower the volume to zero during phone calls
Maintainer: waruhachi
Author: waruhachi
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate
Package: moe.waru.silence
